$primary   : #ffb400;
$secondary : #10a0c5;
$accent    : #9C27B0;
$text_primary : #34495E;
$text_secondary : #5D6D7E;
$color_primary   : #ffb400;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
